extends layout
block stylesheets
  link(rel='stylesheet', href='/stylesheets/projects.css')
block scripts
  script(src='/javascripts/template_project.js')

block content
  section
    h2=project.title
    form(action='/projects/' + project._id + '/edit')
      fieldset
        legend Project Details:
        table
          tr
            td Game Name:
            td= project.title
        br
        | Game Description:
        br
        div(name='game_description')=project.description
        br
        input(type='submit' value='Edit Project Details')
    br
    form(action='/projects/' + project._id + '/invite' method='post')
      fieldset
        legend Group Members:
        table
          tr
            td Game Leader:
            td=project.leader
          tr
            td Group members:
            td=project.members.join(', ')
        br
        input#new_member(type='text' name='member' value='')
        input(type='submit' value='Invite New Member')
    br
    form(action='/projects/'+ project._id+'/new' method='post')
      fieldset
        legend Group Tasks:
        table#myTable
          tr
            th(style='width:18%') Task Name
            th Task Description
            th(style='width:18%') Importance
            th(style='width:8%') Deadline
            th(style='width:8%') Remove
          - var list = project.tasks
          - list.sort(function(a, b){a = new Date(a.deadline);b = new Date(b.deadline);return a>b ? 1 : a<b ? -1 : 0;})
          - list.sort(function(a, b){a = a.importance;b = b.importance;return a>b ? 1 : a<b ? -1 : 0;})
          each task in list
            tr
              td=task.title
              td=task.description
              td=task.importance
              td=task.deadline.getDate()+'/'+task.deadline.getMonth()+'/'+task.deadline.getFullYear()
              td
                a.button(href='/projects/'+project._id+'/delete/'+task.id) Remove
          tr
            td
              input#newTask(type='text' name='title' value='NewTask' style='width:100%' required)
            td
              input#descTask(type='text' name='description' value='' style='width:100%')
            td
              select#impTask(name='importance' style='width:100%')
                option 1 Urgent
                option 2 High Priority
                option(selected='selected') 3 Routine
                option 4 Low Priority
                option 5 No Priority
            td
              input#dateTask(type='date' name='deadline' style='width:auto' required)
            td
              input(type='submit' value='Create Task')
    br
